<h1>Listing users</h1>
<p id="notice"><%= notice %></p>

<br />

<%= link_to 'New User', new_user_path %>

<% @users.in_groups_of(6) do |group| %>
  <div class="row">
    <% group.compact.each do |user| %>
      <div class="col-md-4">
        <%= image_tag(user.picture_url, width: '20%') if user.picture.present? %>
        <h4><%= user.username %></h4>
        <%= user.email %>
      </div>
    <% end %>
  </div>
<% end %>
